<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="layouts/defaultTemplate">

<head>
    <meta charset="UTF-8">
    <title>Product List</title>
</head>
<body>
    <div layout:fragment="content">
        <div th:each="product : ${products}" class="product-card">
            <form th:action="@{/login}" th:object="${loginForm}" method="post">
                <h2 th:text="${product.name}">Product Name</h2>
                <p><strong>💰Price:</strong> $<span th:text="${product.price}">0.00</span></p>
                <p><strong>📝Description:</strong> <span th:text="${product.description}">No description
                        available</span>
                </p>
                <p><strong>👤Vendor:</strong> <span th:text="${product.vendor}">Vendor Name</span></p>
                <p><strong>🎭Category:</strong> <span th:text="${product.category}">Category Name</span></p>
                <p><strong>📦Current Quantity:</strong> <span th:text="${product.currentQuantity}">0</span></p>
                <p><strong>🔔Reorder Point:</strong> <span th:text="${product.reorder_point}">0</span></p>
                <p><strong>🔄Reorder Amount:</strong> <span th:text="${product.reorder_amt}">0</span></p>
                <p><strong>💵Cost:</strong> $<span th:text="${product.cost}">0.00</span></p>
                <a href="/createproduct" class="create-product-button">Create New Product</a>
            </form>
        </div>
    </div>
</body>

</html>
