<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	<!-- Header with Company Logo -->
	<header class="container my-4 text-center">
	    <img src="/images/gculogo.jpg" alt="SupplyTrack Logo" style="width: 150px; height: auto;">
	    <h1>SupplyTrack</h1> <!-- Replace with your company name -->
	</header>
    
    <!-- Login Form -->
    <div class="container my-5">
        <form th:action="@{/login}" method="post" th:object="${loginForm}">
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input th:field="*{username}" type="text" class="form-control" id="username" aria-describedby="usernameHelp">
                <div id="usernameHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input th:field="*{password}" type="password" class="form-control" id="password">
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
</body>
</html>
