<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="layouts/defaultTemplate">

<head>
    <meta charset="UTF-8">
    <title>Create Product</title>
</head>

<body>
    <div layout:fragment="content">
        <div class="container my-5">
            <h2>Create New Product</h2>
            <form th:action="@{/createproduct}" th:object="${product}" method="post">
                <div class="mb-3">
                    <label for="name" class="form-label">🌟Product Name:</label>
                    <input type="text" th:field="*{name}" class="form-control" id="name" placeholder="Product Name">
                    <p class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
                </div>
                <div class="mb-3">
                    <label for="price" class="form-label">💰 Price:</label>
                    <input type="text" th:field="*{price}" class="form-control" id="price" placeholder="Product Price">
                    <p class="text-danger" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></p>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">📝Description:</label>
                    <input type="text" th:field="*{description}" class="form-control" id="description" placeholder="Product Description">
                    <p class="text-danger" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></p>
                </div>
                <div class="mb-3">
                    <label for="currentQuantity" class="form-label">📦Current Quantity:</label>
                    <input type="text" th:field="*{currentQuantity}" class="form-control" id="currentQuantity" placeholder="Product Current Quantity">
                    <p class="text-danger" th:if="${#fields.hasErrors('currentQuantity')}" th:errors="*{currentQuantity}"></p>
                </div>
                <div class="mb-3">
                    <label for="vendor" class="form-label">👤Vendor:</label>
                    <input type="text" th:field="*{vendor}" class="form-control" id="vendor" placeholder="Product Vendor">
                    <p class="text-danger" th:if="${#fields.hasErrors('vendor')}" th:errors="*{vendor}"></p>
                </div>
                <div class="mb-3">
                    <label for="category" class="form-label">🎭Category:</label>
                    <input type="text" th:field="*{category}" class="form-control" id="category" placeholder="Product Category">
                    <p class="text-danger" th:if="${#fields.hasErrors('category')}" th:errors="*{category}"></p>
                </div>
                <div class="mb-3">
                    <label for="reorder_point" class="form-label">🔔Reorder Point:</label>
                    <input type="text" th:field="*{reorder_point}" class="form-control" id="reorder_point" placeholder="Product Re-Order Point">
                    <p class="text-danger" th:if="${#fields.hasErrors('reorder_point')}" th:errors="*{reorder_point}"></p>
                </div>
                <div class="mb-3">
                    <label for="reorder_amt" class="form-label">🔄Reorder Amount:</label>
                    <input type="text" th:field="*{reorder_amt}" class="form-control" id="reorder_amt" placeholder="Product Re-Order Amount">
                    <p class="text-danger" th:if="${#fields.hasErrors('reorder_amt')}" th:errors="*{reorder_amt}"></p>
                </div>
                <div class="mb-3">
                    <label for="cost" class="form-label">💵Cost:</label>
                    <input type="text" th:field="*{cost}" class="form-control" id="cost" placeholder="Product Total Cost">
                    <p class="text-danger" th:if="${#fields.hasErrors('cost')}" th:errors="*{cost}"></p>
                </div>
                <button type="submit" class="btn btn-primary">Create Product</button>
            </form>
        </div>
    </div>
</body>
</html>