<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layouts/defaultTemplate">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
    <link href="/css//bootstrap.min.css" rel="stylesheet"> 
</head>
<body>
	<div layout:fragment="content">
		<div class="container" th:object="${loginModel}">
		    <h2>Login Details</h2>
		    <p>Username: <span th:text="${user_name}"></span></p>
		    <p>Password: <span th:text="${password}"></span></p>
		</div>
	</div>
</body>
</html>