<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layouts/defaultTemplate">
<div layout:fragment="content">
	<div class="container my-5">
	  <h2>Register</h2>
	  <form th:action="@{/register}" th:object="${registrationModel}" method="post">
	    <div class="mb-3">
	      <label for="userName" class="form-label">Username</label>
	      <input type="text" th:field="*{userName}" class="form-control" id="userName" placeholder="Enter username">
	      <p class="text-danger" th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}"></p>
	    </div>
	    <div class="mb-3">
	      <label for="password" class="form-label">Password</label>
	      <input type="password" th:field="*{password}" class="form-control" id="password" placeholder="Enter password">
	      <p class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
	    </div>
	    <div class="mb-3">
	      <label for="firstName" class="form-label">First Name</label>
	      <input type="text" th:field="*{firstName}" class="form-control" id="firstName" placeholder="Enter first name">
	      <p class="text-danger" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></p>
	    </div>
	    <div class="mb-3">
	      <label for="lastName" class="form-label">Last Name</label>
	      <input type="text" th:field="*{lastName}" class="form-control" id="lastName" placeholder="Enter last name">
	      <p class="text-danger" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></p>
	    </div>
	    <div class="mb-3">
	      <label for="email" class="form-label">Email</label>
	      <input type="email" th:field="*{email}" class="form-control" id="email" placeholder="Enter email">
	      <p class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
	    </div>
	    <div class="mb-3">
	      <label for="phone" class="form-label">Phone Number</label>
	      <input type="tel" th:field="*{phone}" class="form-control" id="phone" placeholder="Enter phone number">
	      <p class="text-danger" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></p>
	    </div>
	    <button type="submit" class="btn btn-primary">Register</button>
	  </form>
	</div>
</div>
</body>
</html>
