<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layouts/defaultTemplate">
<div layout:fragment="content">
	<div class="container my-5">
	  <h2>Registration Result</h2>
	  <p th:text="${message}"></p>
		<h3> Entered Information</h3>
	  <ul>
	    <li>Username: <span th:text="${registrationData.userName}"></span></li>
	    <li>First Name: <span th:text="${registrationData.firstName}"></span></li>
	    <li>Last Name: <span th:text="${registrationData.lastName}"></span></li>
	    <li>Email: <span th:text="${registrationData.email}"></span></li>
	    <li>Phone: <span th:text="${registrationData.phone}"></span></li>
	  </ul>
	  <a href="/home" class="btn btn-primary">Return to Home</a>
	</div>
</div>
</body>
</html>
